body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Light gray background */
    color: #343a40;
    line-height: 1.6;
}

header {
    background-color: #343a40; /* Dark gray header background */
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.logo-container {
    text-align: center;
}

.logo {
    max-width: 80%;
    margin-top: 20px;
}

nav {
    background-color: #6c757d; /* Medium gray nav background */
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #007bff; /* Lighter blue on hover */
}

section {
    margin: 10px 20px; /* Adjusted margin for even more separation */
    text-align: justify;
    background-color: #fff; /* White background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff; /* Blue heading */
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    color: #555;
}

footer {
    background-color: #343a40; /* Dark gray footer background */
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.container {
    max-width: 800px;
    margin: 15px auto;
}

.install-section {
    background-color: #36618f; /* Blue install section */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

.install-btn {
    background-color: #fff;
    color: #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.install-btn:hover {
    background-color: #007bff; /* Blue on hover */
    color: #fff;
}

.info-section {
    background-color: #f8f9fa; /* Light gray info section */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}